<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MEAN</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
		
		<!-- angular -->
		<script src="angular.min.js"></script>
		<script src="core.js"></script>
  </head>
  <body>
      <div class="container">
        <div ng-app="myApp" ng-controller="UserController">
            <form novalidate>
              <input type="text" id="usrAddTxt" value="" ng-model="username"/>
              <button ng-click="insert(username)">a&ntilde;adir</button>
            </form>
            <ul>
              <li ng-repeat="user in users">
                  <form novalidate>
                    <input type="text" class="usrTxt" ng-model="user.name"/>					
                    <button ng-click="update(user._id,user.name)">Actualizar</button>
                    <button ng-click="delete(user._id)">Borrar</button>
                  </form>
              </li>
            </ul>
        </div>
      </div>      
  </body>
</html>
